.ticker{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    height: 100%;
    
}

.ticker-item{
    cursor: pointer;
    border: 1px solid red;
    min-width: min-content;
}

.ticker-item:hover{
    border: 1px dotted black;
}