.ticker{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    height: 100%;
    
}

.ticker-item{
    cursor: pointer;
    border: 1px solid red;
    min-width: min-content;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.ticker-item:hover{
    border: 1px dotted black;
}