<div *ngIf="castAvailable">
  <div class="header-grid">
    <img [src]="portraitUrl" class="header-portrait">
    <h1>{{cloudCastBlob.name}}</h1>
    <img [src]="portraitUrl" class="header-portrait">
  </div>

  <!-- <iframe width="100%" height="{{iFrameHeight}}" [src]="widgetUrl | safe" frameborder="0" ></iframe> -->
  <iframe id="mixcloud-widget" width="100%" [src]="widgetUrl | safe" frameborder="0" allow="autoplay"></iframe>
  
  <div class="cloudcast-grid">
    <div *ngFor="let cloudcast of cloudCastBlob.data" class="cloudcast" (click)="onImageClicked(cloudcast)">
      <img [src]="cloudcast.pictures.medium" >
      <h4>{{ cloudcast.name }}</h4>
    </div>
  </div>
  <app-mixcloud-overlay *ngIf="selectedCast"
    [cloudcast]="selectedCast"
    (closeMe)="closeOverlay();"
    (playMe)="playCast($event)"
  ></app-mixcloud-overlay>

  
</div>