<div *ngIf="castAvailable">
  <div class="header-grid">
    <img [src]="portraitUrl" class="header-portrait">
    <h1>{{cloudCastBlob.name}}</h1>
    <img [src]="portraitUrl" class="header-portrait">
  </div>


  <div class="cloudcast-grid">
    <div *ngFor="let cloudcast of cloudCastBlob.data" class="cloudcast" (click)="onImageClicked(cloudcast)">
      <img [src]="cloudcast.pictures.medium" >
      <h4>{{ cloudcast.name }}</h4>
    </div>
  </div>
  <app-mixcloud-overlay *ngIf="selectedCast"
    [cloudcast]="selectedCast"
    (closeMe)="closeOverlay();"
  ></app-mixcloud-overlay>
</div>