.details-short{
    align-items: center;
    justify-content: center;

    height: 100%;
    cursor: pointer;
    min-width: min-content;
}

.title{
    font-style: oblique;
}

span{
    padding-left: 10px;
    padding-right: 10px;
}


.details-short:hover{
    color: darkgrey;
}