.details-short{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
}

.title{
    font-style: oblique;
}

span{
    padding-left: 10px;
    padding-right: 10px;
}

img{
    user-select: none;
}