
<app-context-menu
  (actionSelected)="contextActionSelected($event)"
></app-context-menu>
    
    <!-- <app-action-bar id="action-bar"
      (actionSelected)="onActionSelected($event)"
    ></app-action-bar> -->
    
    <!-- <app-news-feed id="news-feed"></app-news-feed> -->

    <!-- <app-image-card-list id="image-card-list"
    [images]="images"
    (imageSelected)="componentSelected($event)"
    ></app-image-card-list> -->


<app-art-gallery></app-art-gallery>

          <!-- <app-ticker></app-ticker> -->
 