body{
    padding: 0;
    margin: 0;
    border: 0;
    overflow: hidden;
}

.hudBar{
    /* display: flex; */
    /* flex-direction: row; */
    overflow: hidden;
}

.app-head{
    text-align: center;
}