<div class="news-feed">
  <!-- <app-favourite-bubble 
    class="hud-icon-favourite-bubble"
    [counter]="getUnreadFavouriteCount()"
  ></app-favourite-bubble> -->
  <!-- <app-feed-bubble 
    class="hud-icon-feed-bubble"
    [counter]="getUnreadNewsCount()"
  ></app-feed-bubble> -->
  <app-ticker 
    class="hud-icon-ticker"
    [news]="news"
    (itemClicked)="onTickerItemClick($event)"
  ></app-ticker>

</div>

<app-details-teaser class="selected-item-details" *ngIf="hasSelectedItem"
  [news]=selectedItem
  (teaserClicked)="onTeaserClick($event)">
</app-details-teaser>

<app-details-long *ngIf="showLongVersion"
  [news]="selectedItem"
></app-details-long>

<!--
<app-news-item class="selected-item-details" *ngIf="hasSelectedItem()"
  [item]="selectedItem"
></app-news-item>
-->