<!-- Add your site or application content here -->
<header role="banner" class="banner clearfix" id="banner">
  <div class="section-content">
    <div class="branding clearfix">
    </div>
  </div>
</header>

<main class="content-area clearfix">
  <div class="section-content">
    <article class="article-detail initial">
      <h1>Quotes</h1>
      <h2>Computer</h2>
      <p>Quotes related to computers, programming and games :)</p>
      <p>Since the idea of letting a machine solve tasks for us humans, the world has changed in every thinkable way. Clever people have expressed thoughts and predictions related to computers.</p>
      <p>.</p>
      <!-- <div class="figure-wrapper"><figure class="goblet">
          <img src="assets/images/goblet.png" alt="A crystal goblet" />
        </figure>
      </div> -->
      <div class="quote">
        <p><span class="well-used">"The most dangerous phrase in the language is, 'We’ve always done it this way."</span></p>
        <span class="well-used">( Grace Hopper </span>, 1906 - 1992 <span class="well-used">)</span>
      </div>
      <div class="quote">
        <p><span class="well-used">"Keep it simple, stupid"</span></p>
        <span class="well-used">( Clarence Johnson </span>, 1910 - 1990 <span class="well-used">)</span>
      </div>
      
      <div class="quote">
        <p><span class="well-used">"The result of my reflections has been that numbers containing more than thirty places of figures will not be required for a long time to come."</span></p>
        <span class="well-used">( Charles Babbage </span>, 1791 – 1871 <span class="well-used">)</span>
        <span><img src="assets/images/charles_babbage.png"></span>
      </div>
      
      <div class="quote">
        <p><span class="well-used">"Science knows no country, because knowledge belongs to humanity, and is the torch which illuminates the world."</span></p>
        <span class="well-used">( Louis Pasteur </span>, 1822 - 1895 <span class="well-used">)</span>
      </div>
      <div class="quote">
        <p><span class="well-used"></span></p>
        <span class="well-used"></span>
      </div>

    </article>
  </div><!--/.section-content-->
</main>
<footer id="footer" class="footer clearfix" role="contentinfo">
  <div class="section-content">
    <div class="footer-contact h-card">
      <p>sources:</p>
      <p><a href="https://de.wikipedia.org/wiki/Charles_Babbage" target="_blank">Wikipedia: Charles Babbage</a></p>
      <p><a href="https://thenextweb.com/shareables/2013/09/18/the-very-first-computer-bug/" target="_blank">The Next Web: The very first computer bug</a></p>
      <p><a href="https://de.wikipedia.org/wiki/Grace_Hopper" target="_blank">Wikipedia: Grace Hopper, computer scientist and pioneer</a></p>
      <p><a href="https://de.wikipedia.org/wiki/Clarence_Johnson" target="_blank">Wikipedia: Clarence Johnson, Engineer</a></p>

    </div>
  </div><!--/.section-content-->
</footer>